<%= render 'partials/header' %>
<div class="relative">
<img class="banner" src="http://www.hotel-r.net/im/hotel/pl/cityscape-21.jpg" alt="Banner Img">
<h1 class="absolute-text">City Skylines</a></h1>
</div>

<h2>Click On A City To Get Started</h2>
  <div class="index">
    <% @cities[0..5].each do |city| %>
      <a href="/cities/<%= city.id %>">
      <h4><%= city.city %></h4>

      <img class="peek" src="<%= city.image_url %>">
      <br>
      <br>
    <% end %>
    </div>
  </section>
</main>
<%= render 'partials/footer' %>
