<%= render 'partials/header' %>
<h1>City Skylines</h1>
<img class="banner" src="http://www.hotel-r.net/im/hotel/pl/cityscape-21.jpg" alt="Banner Img">


<h2>Click On A City To Get Started</h2>
<section>
  <%= form_tag(cities_path method: :get) do %>
    <%= text_field_tag :term, params[:term] %>
    <%= submit_tag 'Search' %>
  <% end %>
      <% for city in @cities %>
        <div class='search'>
            <strong> <%= city.city %> </strong>
        </div>
        <%#<%= link_to 'Edit', edit_city_path(city) %>
      <% end %>
</section>     

<main class="container">
  <section class="flex-container">
    <div class="index">
      <% @cities.each do |city| %>
      <h4><%= link_to city.city, city_path(city.id) %>"</h4>

      <img class="peek" src="<%= city.image_url %>">
      <br>
      <br>
      <% end %>
    </div>
  </section>
</main>
