<%#put a header here%>


<article class="tip">
    <h4><%= @post.title %> </h4>
    <br>
    <span class="author"> by <em><%= @post.author %></span></em></h4>
    <h4><%= @post.body %></h4>
    <p>

    <%= link_to 'Edit',   edit_city_post_path(@post.city_id, @post.id) %>
    <%= link_to 'Delete', [@post.city, @post],
                method: :delete,
                data: { confirm: 'Are you sure?'} %>
    </p>

    <p>  <%= link_to "Back", city_path(@post.city_id)  %>   </p>
</article>
