<%= render 'partials/header' %>

<main class="container">
    <h1> <%= @city.city %> </h1>
    <section class="well text-center"> <%= @city.description %> </section>

    <h3> Tips for <%= @city.city %> </h3>

    <%= link_to 'Add a new post!', new_city_post_path(@city) %>

    <section class="flex-container">
      <div class="index">

        <%  @city.posts.each do |post| %>
        <article class="tip">
            <h4> <%= link_to post.title, city_post_path(post.city_id, post.id) %> </h4>

            <br>
            <span class="author"> by <em><%= post.author %></span></em></h4>
            <h4><%= post.body %></h4>


        </article>
        <% end %>
      </div>
    </section>

</main>
