<%= render 'partials/header' %>
<h1> Hello from City Show </h1>

<main class="container-fluid">
    <h1> <%= @city.city %> </h1>
    <section>
      <img class="one" src="<%= @city.image_url %>">
    </section>
    <br>
    <section class="tip"><h4> <%= @city.description %> </h4></section>

    <h3> Tips for <%= @city.city %> </h3>

    <%= link_to 'Add a new post!', new_city_post_path(@city) %>

    <section class="container">
      <div class="index">

        <%  @city.posts.each do |post| %>
        <article class="tip">
            <h4> <%= link_to post.title, city_post_path(@city.city, post.id) %> </h4>

            <br>
            <span class="author"> by <em><%= post.author %></span></em></h4>
            <h4><%= post.body %></h4>


        </article>
        <% end %>
      </div>
    </section>

</main>
<%= render 'partials/footer' %>
