<!DOCTYPE html>
<html>
  <head>
    <title>VagabondProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= form_tag(cities_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Cities" %>
    <%= submit_tag "Search", :name => nil %>
  <% end %>
<br>
<br>
<br>
    <%= yield %>
  </body>
</html>
